node_modules
.worktrees/
__pycache__/
*.py[cod]
frontend/build/
frontend/dist/
frontend/.env
temp
.firebase/
firebase-debug.log
backend/.env
backend/.venv/
*.json
!package.json
!firebase.json
!firestore.indexes.json
!package-lock.json
!builder.config.json
!.yarnrc.yml
*__pycache__*
*.tsbuildinfo
