node_modules
.worktrees/
frontend/build/
frontend/.env
temp
.firebase/
firebase-debug.log
backend/.env
*.json
!package.json
!firebase.json
!firestore.indexes.json
!package-lock.json
!builder.config.json
!.yarnrc.yml
